<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="../../../assets/img/mainlogo.png" alt="" class="img-fluid" /></a>
        <div class="button_container" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
        <div class="overlay" id="overlay">
            <nav class="overlay-menu">
                <ul>
                    <li (click)="redirectToLogin()"><a>Login</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </nav>
    <div class="banner">
        <div class="row">
            <div class="col-md-12 col-lg-8 banner-left-content pr-0">
                <div class="slider">
                    <div class="slider__item">
                        <div class="slider-content">
                            <h2>Our <span class="text-blue">Better Think</span></h2>
                            <h4>Create Your Own <br>Lite</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non leo at tortor faucibus mattis. Donec commodo erat risus, sodales faucibus lorem suscipit vel. Cras nec sem at diam elementum ultrices quis</p>
                            <a href="#" class="readmore-btn">Read More <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>
                            <form class="form-inline banner-search-box">
                                <input class="form-control mr-sm-2" type="search" placeholder="Create Your Own Lite" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0 banner-search-box-btn" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider-content">
                            <h2>Slide <span class="text-blue">Two</span></h2>
                            <h4>Create Your Own <br>Lite</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non leo at tortor faucibus mattis. Donec commodo erat risus, sodales faucibus lorem suscipit vel. Cras nec sem at diam elementum ultrices quis</p>
                            <a href="#" class="readmore-btn">Read More <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>
                            <form class="form-inline banner-search-box">
                                <input class="form-control mr-sm-2" type="search" placeholder="Create Your Own Lite" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0 banner-search-box-btn" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider-content">
                            <h2>Slide <span class="text-blue">Three</span></h2>
                            <h4>Create Your Own <br>Lite</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non leo at tortor faucibus mattis. Donec commodo erat risus, sodales faucibus lorem suscipit vel. Cras nec sem at diam elementum ultrices quis</p>
                            <a href="#" class="readmore-btn">Read More <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>
                            <form class="form-inline banner-search-box">
                                <input class="form-control mr-sm-2" type="search" placeholder="Create Your Own Lite" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0 banner-search-box-btn" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="slider__item">
                        <div class="slider-content">
                            <h2>Slide <span class="text-blue">Four</span></h2>
                            <h4>Create Your Own <br>Lite</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non leo at tortor faucibus mattis. Donec commodo erat risus, sodales faucibus lorem suscipit vel. Cras nec sem at diam elementum ultrices quis</p>
                            <a href="#" class="readmore-btn">Read More <i class="fa fa-angle-right ml-2" aria-hidden="true"></i></a>
                            <form class="form-inline banner-search-box">
                                <input class="form-control mr-sm-2" type="search" placeholder="Create Your Own Lite" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0 banner-search-box-btn" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 banner-right-content">
                <div class="banner-animate-globe-img">
                    <img src="../../../assets/img/globe-img3.png" class="img-fluid globe-particle-img" alt="" />
                    <img src="../../../assets/img/banner-globe.svg" class="img-fluid" alt="" />

                </div>
            </div>
        </div>
    </div>

    <div class="service-section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Explore</h2>
                    <h3>Explore</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-4 service-box">

                    <div class="services-box-content">
                        <h4>Market Treding</h4>
                        <h5>HM</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots Ipsum is not simply random text. It has roots </p>
                    </div>
                    <div class="service-bottom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>

                    </div>
                    <div class="service-box-num">
                        <h5>01</h5>
                    </div>
                </div>

                <div class="col-md-12 col-lg-4 service-box">

                    <div class="services-box-content">
                        <h4>Future Business</h4>
                        <h5>HM</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots </p>
                    </div>


                </div>

                <div class="col-md-12 col-lg-4 service-box">

                    <div class="services-box-content">
                        <h4>Innovation Business</h4>
                        <h5>HM</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots </p>
                    </div>
                    <div class="service-bottom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>

                    </div>
                    <div class="service-box-num">
                        <h5>03</h5>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="big-image-section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Latest Information</h2>
                    <h3>Latest Information</h3>
                </div>
                <div class="section-sub-title">
                    <h5>Cigs Solar Fanci Every Where</h5>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row ml-0 mr-0 mt-5">
                <div class="col-md-6 px-0">
                    <div class="images-block">
                        <img src="../../../assets/img/big-img-left-top.svg" class="img-fluid" alt="" />
                    </div>
                    <div class="images-block">
                        <img src="../../../assets/img/big-img-left-bottom.svg" class="img-fluid" alt="" />
                    </div>
                </div>

                <div class="col-md-6 px-0">
                    <div class="images-block">
                        <img src="../../../assets/img/big-img-right.svg" class="img-fluid" alt="" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="advantage-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 advantage-img">
                    <div class="advantage-img-box">
                        <img src="../../../assets/img/testimonial-img.svg" class="img-fluid" alt="" />
                        <img src="../../../assets/img/advantage.png" class="img-fluid blue-block" alt="" />
                    </div>
                    <div class="advantage-img-content">
                        <h4>Sub Heading</h4>
                        <h3>No limiy for<br>Information</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8 advantage-content">
                    <h2>Our Advantages</h2>
                    <h3>you need to know</h3>
                    <ul>
                        <li><img src="../../../assets/img/point.png" class="img-fluid mr-3" alt="" /> We got worldwide Information</li>
                        <li><img src="../../../assets/img/point.png" class="img-fluid mr-3" alt="" /> We deal in all kind of business & education</li>
                        <li><img src="../../../assets/img/point.png" class="img-fluid mr-3" alt="" /> We have more & more Information</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="info-offer-section">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Info Offer</h2>
                    <h3>Info Offer</h3>
                </div>
            </div>
            <div class="row mt-3 mt-md-5 mt-lg-5 justify-content-between">
                <div class="col-md-4 info-box">
                    <img src="../../../assets/img/info1.svg" class="img-fluid" alt="" />
                    <div class="hover-sticker">
                        View
                    </div>
                </div>

                <div class="col-md-4 info-box">
                    <img src="../../../assets/img/info2.svg" class="img-fluid" alt="" />
                    <div class="hover-sticker">
                        View
                    </div>
                </div>

                <div class="col-md-4 info-box">
                    <img src="../../../assets/img/info3.svg" class="img-fluid" alt="" />
                    <div class="hover-sticker">
                        View
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="solar-galexy-section">
        <div class="container">
            <div class="row">
                <content class="opening hide-UI view-2D zoom-large data-close controls-close">
                    <div id="navbar">
                        <a id="toggle-data" href="#data"><i class="icon-data"></i>Data</a>
                        <h1>3D Solar System<br><span>by <a href="https://twitter.com/JulianGarnier" target="_blank">@JulianGarnier</a></span></h1>
                        <a id="toggle-controls" href="#controls"><i class="icon-controls"></i>Controls</a>
                    </div>
                    <div id="data">
                        <a class="sun" title="sun" href="#sunspeed">Sun</a>
                        <a class="mercury" title="mercury" href="#mercuryspeed">Mercury</a>
                        <a class="venus" title="venus" href="#venusspeed">Venus</a>
                        <a class="earth active" title="earth" href="#earthspeed">Earth</a>
                        <a class="mars" title="mars" href="#marsspeed">Mars</a>
                        <a class="jupiter" title="jupiter" href="#jupiterspeed">Jupiter</a>
                        <a class="saturn" title="saturn" href="#saturnspeed">Saturn</a>
                        <a class="uranus" title="uranus" href="#uranusspeed">Uranus</a>
                        <a class="neptune" title="neptune" href="#neptunespeed">Neptune</a>
                    </div>
                    <div id="controls">
                        <label class="set-view">
                            <input type="checkbox">
                        </label>
                        <label class="set-zoom">
                            <input type="checkbox">
                        </label>
                        <label>
                            <input type="radio" class="set-speed" name="scale" checked>
                            <span>Speed</span>
                        </label>
                        <label>
                            <input type="radio" class="set-size" name="scale">
                            <span>Size</span>
                        </label>
                        <label>
                            <input type="radio" class="set-distance" name="scale">
                            <span>Distance</span>
                        </label>
                    </div>
                    <div id="universe" class="scale-stretched">
                        <div id="galaxy">
                            <div id="solar-system" class="earth">
                                <div id="mercury" class="orbit">
                                    <div class="pos">
                                        <div class="planet">
                                            <dl class="infos">
                                                <dt>Mercury</dt>
                                                <dd><span></span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div id="venus" class="orbit">
                                    <div class="pos">
                                        <div class="planet">
                                            <dl class="infos">
                                                <dt>Venus</dt>
                                                <dd><span></span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div id="earth" class="orbit">
                                    <div class="pos">
                                        <div class="orbit">
                                            <div class="pos">
                                                <div class="moon"></div>
                                            </div>
                                        </div>
                                        <div class="planet">
                                            <dl class="infos">
                                                <dt>Earth</dt>
                                                <dd><span></span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div id="mars" class="orbit">
                                    <div class="pos">
                                        <div class="planet">
                                            <dl class="infos">
                                                <dt>Mars</dt>
                                                <dd><span></span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div id="jupiter" class="orbit">
                                    <div class="pos">
                                        <div class="planet">
                                            <dl class="infos">
                                                <dt>Jupiter</dt>
                                                <dd><span></span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div id="saturn" class="orbit">
                                    <div class="pos">
                                        <div class="planet">
                                            <div class="ring"></div>
                                            <dl class="infos">
                                                <dt>Saturn</dt>
                                                <dd><span></span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div id="uranus" class="orbit">
                                    <div class="pos">
                                        <div class="planet">
                                            <dl class="infos">
                                                <dt>Uranus</dt>
                                                <dd><span></span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div id="neptune" class="orbit">
                                    <div class="pos">
                                        <div class="planet">
                                            <dl class="infos">
                                                <dt>Neptune</dt>
                                                <dd><span></span></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div id="sun">
                                    <dl class="infos">
                                        <dt>Sun</dt>
                                        <dd><span></span></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                </content>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 footer-content">
                        <div class="footer-logo">

                            <img src="../../../assets/img/footer-logo.png" class="img-fluid" alt="" />
                        </div>
                        <p>Sometimes, we need to check the time, wondering when our work or meeting will finish, without getting caught by others. </p>
                        <div class="footer-social-icon">
                            <ul>
                                <li><a href="#" class="link-in"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copiright-section bg-white py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>© 2021 Bisiness AC. Trademarks and Brands are the property of their respective owners.</p>
                </div>
            </div>
        </div>
    </div>


</div>